{{!--
Re-usable card for linking to posts
--}}

<article class="post-card {{post_class}}" style={{computedStyle}} {{grid-row-span content=@post.html image=@post.image}}>
  {{#if @post.image}}
    <div class="post-card-image">
      <img src={{@post.image}} alt={{@post.title}}/>
      <div class="post-card-image-overlay"></div>
    </div>
  {{/if}}
  <div class="post-card-content">
    <h2 class="post-card-title">{{@post.title}}</h2>
    {{markdown-to-html @post.html}}
  </div>
</article>
